In [41]:
import numpy as np
import pandas as pd

pd?

Type:        module
String form: <module 'pandas' from 'd:\\Python\\Lib\\site-packages\\pandas\\__init__.py'>
File:        d:\python\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

Oбъект Series, аналог одномерного массива numpy

In [42]:
data = pd.Series([0, 1, 1.5, 23, 12])
print(data.values, type(data.values), data.index, type(data.index)) # индексируется типа
print(data[2], '\n', data[:])

[ 0.   1.   1.5 23.  12. ] <class 'numpy.ndarray'> RangeIndex(start=0, stop=5, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
1.5
 0     0.0
1     1.0
2     1.5
3    23.0
4    12.0
dtype: float64

In [43]:
data = pd.Series([0, 1, 1.5, 23, 12], index=['a', 'b', 'c', 'd', 'e']) # индексируется явно
df = pd.Series([0, 15, 13], index=[0, 1000, 12]) # пофиг какие индексы
print(data, data['c'], df[1000])
population = {'Msk': 10000000,
        'Spb': 5000000,
        'Nsk': 1500000}
population = pd.Series(population) # словарь это pd.Series, но для бедных
print(population, population['Nsk'], population['Msk':'Spb']) # pd.Series поддерживает срезы
repeat_data = pd.Series(5, index=[1, 2, 3]) #repeat = повторить
print(repeat_data)
weird_data = pd.Series({5:'v', 3:'d', 2:'c', 4:'b', 1:'a'}, index=[1, 4]) # индекс из словаря можно указать вручную
print(weird_data)

a     0.0
b     1.0
c     1.5
d    23.0
e    12.0
dtype: float64 1.5 15
Msk    10000000
Spb     5000000
Nsk     1500000
dtype: int64 1500000 Msk    10000000
Spb     5000000
dtype: int64
1    5
2    5
3    5
dtype: int64
1    a
4    b
dtype: object

Объект DataFrame, аналог двумерного массива numpy

In [44]:
# DataFrame это как упорядоченная последовательность Series
population = {'Msk': 10000000,
        'Spb': 5000000,
        'Nsk': 1500000}
river = {'Msk': 'Moskva',
        'Spb': 'Neva',
        'Nsk': 'Ob'}
cities = pd.DataFrame({'population': population,
                      'river': river})
print(cities, cities.index, cities.columns,'\n', cities['river'])

     population   river
Msk    10000000  Moskva
Spb     5000000    Neva
Nsk     1500000      Ob Index(['Msk', 'Spb', 'Nsk'], dtype='object') Index(['population', 'river'], dtype='object')
 Msk    Moskva
Spb      Neva
Nsk        Ob
Name: river, dtype: object

In [45]:
# создание DataFrame
population = pd.Series(population)
df1 = pd.DataFrame(population, columns=['population']) # из 1 объекта Series
df2 = [{'a': i + 1, 'b': i ** i, 'c': 7} for i in range(5)] # из списка словарей
df2 = pd.DataFrame(df2)
df3 = pd.DataFrame([{'a': 1, 'c': 3, 'd': 4}, {'b': 2, 'd': 4}]) # если некоторые ключи или значения будут отсутствовать, то там окажется NaN
df4 = pd.DataFrame({'population': population, 'river': river}) # из словаря объектов Series
df5 = pd.DataFrame(np.random.randint(1, 101, size=(3,3)), # из двумерного массива NumPy
                   columns=['col1', 'col2', 'col3'],
                   index=['str1', 'str2', 'str3']) 
df6 = pd.DataFrame(np.zeros(3, dtype=[('col1', '<i8'), ('col2', '<f8')])) # из структурированного массива NumPy

Index

In [46]:
ind = pd.Index([2, 3, 5, 45, 65, 232, 1, 2, 3, 3, 3])
ind, ind[5], ind[::3], ind.shape, ind.size, ind.dtype
# это неизменяемый тип данных
# ind[0] = 1 приведет к ошибке

(Index([2, 3, 5, 45, 65, 232, 1, 2, 3, 3, 3], dtype='int64'),
 232,
 Index([2, 45, 1, 3], dtype='int64'),
 (11,),
 11,
 dtype('int64'))

In [47]:
ind_a = pd.Index([1, 2, 3, 4, 5])
ind_b = pd.Index([3, 4, 5, 6, 7])
ind_a - ind_b

Index([-2, -2, -2, -2, -2], dtype='int64')

In [48]:
data = pd.Series([11, 2, 3, 4, 5, 2, 3, 4], index=[1, 2, 3, 'a', 'b', 'c', 'd', 5])
print(data, data.keys(), list(data.items()), data.items(), data['d']) # series очень похож на словарь python
data['e'] = 100 # можно модифицировать и добавлять элементы или изменять старые
data['c':'e'], data[0:2], data[(data >= 3) & (data <= 100)], data[['a','d']] # series очено похож на одномерный массив numpy (индексы впридачу)
data[1], data[1:3] # в первом случае по индексу 1 из списка индексов вызывается элемент, а во втором от 2 до 3 по неявному индексу как в list
data.loc[1], data.loc[1:3] # с помощью атрибута loc можно заставить скрипт использовать явные индексы
data.iloc[1], data.iloc[1:3] # с помощью атрибута iloc можно заставить скрипт использовать неявные индексы
# лучше явно, чем неявно !!!!!!!! атрибуты loc и iloc явные по своей природе поэтому их стоит использовать

1    11
2     2
3     3
a     4
b     5
c     2
d     3
5     4
dtype: int64 Index([1, 2, 3, 'a', 'b', 'c', 'd', 5], dtype='object') [(1, 11), (2, 2), (3, 3), ('a', 4), ('b', 5), ('c', 2), ('d', 3), (5, 4)] <zip object at 0x0000024617180600> 3

(2,
 2    2
 3    3
 dtype: int64)

In [49]:
import this # к принципам написания кода на питоне

In [50]:
df = pd.DataFrame({'population': population, 'river': river})
df, df['river'], df.river
df['river'] is df.river # True
# df.pop is df['pop'] False (если бы был столбец pop) df.pop  это метод pop(), поэтому df['river'] лучше
df['1/2population'] = df['population'] / 2
dv = df.values
dv.T, dv[0], df['population'] # dv[0]-строка, df['population']-столбец
df.iloc[:2, :2], df.loc[:'Spb', 'population':'river'] # названия городов это индексы, певрый столбец должен быть первым условием для явной индексации
df.iloc[0, 0] = 333 # можно менять значения  с помощью индексации
df['Spb':'Nsk'] # срезы относятся к строкам 
df[(df.population >= 5000000) | (df.population == 333)] # операции маскирования(отбора) интерпретируются по строкам

     population   river  1/2population
Msk         333  Moskva      5000000.0
Spb     5000000    Neva      2500000.0

In [51]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(1, 101, size=5))
df = pd.DataFrame(rng.randint(1, 101, size=(5,5)), columns=['a', 'b', 'c', 'd', 'e'], index=['a0', 'a1', 'a2', 'a3', 'a4'])
ser, df, np.exp(df) # прямо как в numpy

(0    52
 1    93
 2    15
 3    72
 4    61
 dtype: int32,
      a    b   c   d   e
 a0  21   83  87  75  75
 a1  88  100  24   3  22
 a2  53    2  88  30  38
 a3   2   64  60  21  33
 a4  76   58  22  89  49,
                a             b             c             d             e
 a0  1.318816e+09  1.112864e+36  6.076030e+37  3.733242e+32  3.733242e+32
 a1  1.651636e+38  2.688117e+43  2.648912e+10  2.008554e+01  3.584913e+09
 a2  1.041376e+23  7.389056e+00  1.651636e+38  1.068647e+13  3.185593e+16
 a3  7.389056e+00  6.235149e+27  1.142007e+26  1.318816e+09  2.146436e+14
 a4  1.014800e+33  1.545539e+25  3.584913e+09  4.489613e+38  1.907347e+21)

In [52]:
area = pd.Series({'place_1': 2114, 'place_2': 14524, 'place_3': 4231}, name='area')
population = pd.Series({'place_2': 41412, 'place_3': 52144, 'place_4': 85624}, name='population')
density = population / area
density # объединение индексов произошло автоматически при вычислении density
arr = area + population
arr, area.add(population, fill_value=0) # с помощью функции add и параметра fill_value можно задать явно любое отсутствующее значение

(place_1        NaN
 place_2    55936.0
 place_3    56375.0
 place_4        NaN
 dtype: float64,
 place_1     2114.0
 place_2    55936.0
 place_3    56375.0
 place_4    85624.0
 dtype: float64)

In [53]:
A = pd.DataFrame(rng.randint(1, 101, size=(2, 2)), columns=list('AB'))
B = pd.DataFrame(rng.randint(1, 101, size=(3, 3)), columns=list('BCA'))
print(A + B) # автоматически выравнялись индексы (cм. порядок колонок в В)
mean_zn = A.stack().mean() # получить среднее всех значений массива А
print(A.stack()) # практически одномерный массив, по которому вычислилось среднее
A, mean_zn, A.add(B, fill_value=mean_zn) 
# чтобы всегда работало одинаковое значение из модуля random нужно нажимать Run All

       A      B   C
0  106.0  119.0 NaN
1   89.0  154.0 NaN
2    NaN    NaN NaN
0  A    91
   B    59
1  A    42
   B    92
dtype: int32

(    A   B
 0  91  59
 1  42  92,
 71.0,
        A      B      C
 0  106.0  119.0  151.0
 1   89.0  154.0  133.0
 2  126.0  133.0  122.0)

In [54]:
A = pd.DataFrame(rng.randint(1, 101, size=(2, 2)), columns=list('AB'))
A, A - A.iloc[0] # построчное вычитание первой строки из всех; прямо как в numpy
A.subtract(A['A'], axis=0) # substract это функция вычитания, axis=0 делает операцию по столбцам

   A   B
0  0 -61
1  0 -44

None

In [55]:
arr = np.array([1, 2, None, 34, 12])
arr # dtype=object
for dtype in ['object', 'int']: # цикл показывает что вычисления с исп-м типом данных int значительно быстрее, чем типом object
    print('dtype=', dtype)
    #%timeit np.arange(100, dtype=dtype).sum() # долго выполняется
    print('-----------------------')
#arr.sum() # error так как оbject

dtype= object
-----------------------
dtype= int
-----------------------

NaN

In [56]:
arr = np.array([1, 2, np.nan, 34, 12])
arr.dtype # dtype('float64') значит операции будут такими же быстрыми как обычно 
print(1 + np.nan, 4 * np.nan, arr.sum(), arr.min(), arr.max()) # nan
print(np.nansum(arr), np.nanmin(arr), np.nanmax(arr)) # получится число с плавающей точкой
# nan - число с плавающей точкой

nan nan nan nan nan
49.0 1.0 34.0

In [57]:
pd.Series([1, None, 3, np.nan]) # None -> NaN

0    1.0
1    NaN
2    3.0
3    NaN
dtype: float64

Обработка отсутствующих значений

In [58]:
data = pd.DataFrame([[1, None, 3, np.nan], [np.nan, 4, 3, np.nan], [np.nan, 33, 44, 55]])
data.isnull() # булева маска для отсутствующих значений
data.notnull() # противоположность метода isnull()
data.dropna() # удаляет все строки в которых встречается NaN, по умолчанию параметр how='any'
data.dropna(axis='columns') # удаляет все столбцы в которых встречается NaN, можно использовать axis=1
data[3] = np.nan # вставим слева столбец Nan-ов
data, data.dropna(axis='columns', how='all') # удалит только тот столбец в котором все значения являются NaN
data, data.dropna(axis='columns', thresh=2) # thresh задает минимальное количество NaN при котором следует удаление столбца/строки
#data.fillna(111111) # заполняет пропуски заданным значением

(     0     1   2   3
 0  1.0   NaN   3 NaN
 1  NaN   4.0   3 NaN
 2  NaN  33.0  44 NaN,
       1   2
 0   NaN   3
 1   4.0   3
 2  33.0  44)

In [59]:
data = pd.Series([1, None, 3, np.nan])
data[data.notnull()] # использование булевой маски непосредственно для индексации (получим data без NaN с начальными индексами)

0    1.0
2    3.0
dtype: float64

Заполнение пустых значений

In [60]:
data = pd.Series([1, np.nan, 2, 73, 25, None], index=list('abcdef'))
data.fillna(0), data.fillna(method='ffill') # method='ffill' копирует предыдущее значение в ячейку с NaN
data.fillna(method='bfill') # method='bfill' копирует следующее после значение в ячейку с NaN
data = pd.DataFrame([[1, None, 3, np.nan], [np.nan, 4, 3, np.nan], [np.nan, 33, 44, 55]])
data, data.fillna(method='ffill', axis=0), data.fillna(method='ffill', axis=1)

(     0     1   2     3
 0  1.0   NaN   3   NaN
 1  NaN   4.0   3   NaN
 2  NaN  33.0  44  55.0,
      0     1   2     3
 0  1.0   NaN   3   NaN
 1  1.0   4.0   3   NaN
 2  1.0  33.0  44  55.0,
      0     1     2     3
 0  1.0   1.0   3.0   3.0
 1  NaN   4.0   3.0   3.0
 2  NaN  33.0  44.0  55.0)

Иерархическая индексация

In [61]:
# представим двухмерные данные в одномерном объекте Series
index = [('pl_1', 1900), ('pl_2', 1900), ('pl_3', 1900), ('pl_1', 1930), ('pl_2', 1930), ('pl_3',1930)]
population = [315431, 534132, 2136545, 32135, 3513513, 5312321]
arr = pd.Series(population, index=index)
arr[[i for i in arr.index if i[1] == 1910]] # медленно и громоздко

Series([], dtype: int64)

In [62]:
# ща сделаем красиво
index = [['pl_1', 'pl_2', 'pl_3', 'pl_1', 'pl_2', 'pl_3'],[1900, 1900, 1900, 1930, 1930, 1930]]
population = [315431, 534132, 2136545, 32135, 3513513, 5312321]
index = pd.MultiIndex.from_arrays(index, names=['pl_name', 'year']) # задали названия индексов
arr = pd.DataFrame(data={'Data':population}, index=index) # задали название столбца с данными 'Data'
print(arr), print(index)
arr.loc[('pl_1', slice(None)), 'Data'], arr.loc[(slice(None), 1900), 'Data'] # slice(None) используется если определенный индекс неважен

                 Data
pl_name year
pl_1    1900   315431
pl_2    1900   534132
pl_3    1900  2136545
pl_1    1930    32135
pl_2    1930  3513513
pl_3    1930  5312321
MultiIndex([('pl_1', 1900),
            ('pl_2', 1900),
            ('pl_3', 1900),
            ('pl_1', 1930),
            ('pl_2', 1930),
            ('pl_3', 1930)],
           names=['pl_name', 'year'])

(pl_name  year
 pl_1     1900    315431
          1930     32135
 Name: Data, dtype: int64,
 pl_name  year
 pl_1     1900     315431
 pl_2     1900     534132
 pl_3     1900    2136545
 Name: Data, dtype: int64)

In [63]:
index = [['pl_1', 'pl_2', 'pl_3', 'pl_1', 'pl_2', 'pl_3'],[1900, 1900, 1900, 1930, 1930, 1930]]
population = [315431, 534132, 2136545, 32135, 3513513, 5312321]
index = pd.MultiIndex.from_arrays(index, names=['pl_name', 'year']) # задали названия индексов
arr = pd.DataFrame(data={'Data':population}, index=index) # задали название столбца с данными 'Data'
arr, arr.stack() # stack: dataframe -> series, unstack наоборот, данные должны быть мультииндексированы
arr = pd.DataFrame({'total': population,
                    'workers': [321, 646, 645, 652, 321, 9999]})
print(arr)
workers_share = arr['workers'] / arr['total']
workers_share

     total  workers
0   315431      321
1   534132      646
2  2136545      645
3    32135      652
4  3513513      321
5  5312321     9999

0    0.001018
1    0.001209
2    0.000302
3    0.020289
4    0.000091
5    0.001882
dtype: float64

In [64]:
df = pd.DataFrame(data=[[3, 4],[23, np.nan], [34, 56], [54, 1]], # нужно внимательно следить за количество строк и столбцов, во всех пунктах
                  index=[list('abab'), list('1212')],
                  columns=['data_1', 'data_2'])
data = {('pl_1', 1900): 315431,
    ('pl_2', 1900): 534132,
    ('pl_3', 1900): 2136545,
    ('pl_1', 1930): 32135,
    ('pl_2', 1930): 3513513,
    ('pl_3', 1930): 5312321}
data, pd.Series(data)
pd.MultiIndex.from_product([['a', 'b'], [1, 2]]) # декартово произведение обычных индексов для задания мультииндекса

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [65]:
usual_df = df.reset_index() # мультииндексированный массив -> обычны DataFrame 
usual_df.set_index(['level_0', 'level_1']) # мультииндекс из значений столбцов
print(usual_df)

  level_0 level_1  data_1  data_2
0       a       1       3     4.0
1       b       2      23     NaN
2       a       1      34    56.0
3       b       2      54     1.0

Объединение наборов данных

In [66]:
# функция для создания DataFrame
def make_df(rows, cols):
    data = {str(j): [str(i) + str(j) for i in rows] for j in cols}
    return pd.DataFrame(data, rows)

a = [1, 2, 3, 4, 5, 6]
b = list('abcd')
data1 = make_df(a, b)
data1

    a   b   c   d
1  1a  1b  1c  1d
2  2a  2b  2c  2d
3  3a  3b  3c  3d
4  4a  4b  4c  4d
5  5a  5b  5c  5d
6  6a  6b  6c  6d

In [67]:
c = np.concatenate([a, b, b, a, a, a])
x = [[1, 2], 
     [3, 4]]
np.concatenate([x, x, x], axis=0), np.concatenate([x, x, x], axis=1)

(array([[1, 2],
        [3, 4],
        [1, 2],
        [3, 4],
        [1, 2],
        [3, 4]]),
 array([[1, 2, 1, 2, 1, 2],
        [3, 4, 3, 4, 3, 4]]))

In [68]:
ser1 = pd.Series(['a', 'b', 'c'])
ser2 = pd.Series(['e', 'f', 'g'], index=[3, 4, 5])
print(pd.concat([ser1, ser2]))

0    a
1    b
2    c
3    e
4    f
5    g
dtype: object

In [69]:
np.random.seed(42)
df1 = pd.DataFrame(data=np.random.randint(11, size=(3, 2)), index=list('123'), columns=list('ab'))
df2 = pd.DataFrame(data=np.random.randint(11, size=(3, 2)), index=list('456'), columns=list('ab'))
df3 = make_df([1, 2, 3, 4, 5, 6], list('abcd'))
df4 = make_df([1, 2, 3, 4, 5, 6], list('efgh'))
pd.concat([df1, df2])
print(df3, df4)
pd.concat([df3, df4], axis='columns')

    a   b   c   d
1  1a  1b  1c  1d
2  2a  2b  2c  2d
3  3a  3b  3c  3d
4  4a  4b  4c  4d
5  5a  5b  5c  5d
6  6a  6b  6c  6d     e   f   g   h
1  1e  1f  1g  1h
2  2e  2f  2g  2h
3  3e  3f  3g  3h
4  4e  4f  4g  4h
5  5e  5f  5g  5h
6  6e  6f  6g  6h

    a   b   c   d   e   f   g   h
1  1a  1b  1c  1d  1e  1f  1g  1h
2  2a  2b  2c  2d  2e  2f  2g  2h
3  3a  3b  3c  3d  3e  3f  3g  3h
4  4a  4b  4c  4d  4e  4f  4g  4h
5  5a  5b  5c  5d  5e  5f  5g  5h
6  6a  6b  6c  6d  6e  6f  6g  6h

In [70]:
ser1 = pd.Series(['a', 'b', 'c'])
ser2 = pd.Series(['e', 'f', 'g'],)
print(pd.concat([ser1, ser2], ignore_index=True), # вывод без повторяющихся индексов
      '\n', pd.concat([ser1, ser2], keys=['x', 'y'])) #  вывод с мультииндексом

0    a
1    b
2    c
3    e
4    f
5    g
dtype: object
 x  0    a
   1    b
   2    c
y  0    e
   1    f
   2    g
dtype: object

In [71]:
df1 = pd.DataFrame(data=np.random.randint(11, size=(3, 4)), index=list('123'), columns=list('abcd'))
df2 = pd.DataFrame(data=np.random.randint(11, size=(3, 4)), index=list('456'), columns=list('cdef'))
pd.concat([df1, df2]) # NaN для элементов для которых нет данных
pd.concat([df1, df2], join='inner') # выведутся только пересекающиеся столбцы

   c   d
1  7   7
2  4   1
3  1   4
4  0   9
5  0  10
6  2   6

In [72]:
df3 = make_df([1, 2, 3, 4, 5, 6], list('abcd'))
df4 = make_df([4, 5, 6, 7, 8, 9, 10, 2, 12, 13, 14], list('cdef'))
df3, df4
pd.merge(df3, df4) # слияние бд по общим индексам (общие числа в первом списке в переменных функции make_df)

    a   b   c   d   e   f
0  2a  2b  2c  2d  2e  2f
1  4a  4b  4c  4d  4e  4f
2  5a  5b  5c  5d  5e  5f
3  6a  6b  6c  6d  6e  6f

In [73]:
df5 = pd.DataFrame({'name': ['Swan', 'John', 'Jack', 'Bob'],
                    'group': ['football', 'basketball', 'tennis', ' football']})
df6 = pd.DataFrame({'group': ['basketball', 'tennis', 'football', 'basketball', ' football'],
                    'skills': ['smart', 'clever', 'smart', 'clever', 'smart']})
df7 = pd.DataFrame({'job': ['teacher', 'writer', 'actor', 'comic'],
                    'employee': ['Swan', 'John', 'Jack', 'Bob'], 
                    'salary(RUB)': [123132, 354312, 321213, 234232]})
df5, df6, pd.merge(df5, df6) # появилось 2 John в смерженной бд
pd.merge(df5, df6, on='group') # явно задали столбцы по которым нужно объединять
pd.merge(df5, df7, left_on='name', right_on='employee').drop('employee', axis=1) # объединили бд с столбцами под имя и сотрудник с удалением столбца сотрудник
df5a = df5.set_index('group')
df6a = df6.set_index('group')
pd.merge(df5a, df6a, left_index=True, right_index=True) # слияние по индексам
df5a.join(df6a) # слияние по индексам по умолчанию
pd.merge(df5a, df6, left_index=True, right_on='group')

   name       group  skills
2  Swan    football   smart
0  John  basketball   smart
3  John  basketball  clever
1  Jack      tennis  clever
4   Bob    football   smart

In [74]:
df1 = pd.DataFrame({'name': ["Peter", 'Paul', 'Mary'],
                    'food': ['fish', 'beans', 'bread']})
df2 = pd.DataFrame({'name': ['Mary', 'Anna'],
                    'drink': ['water', 'wine']})
print(pd.merge(df1, df2))
print(pd.merge(df1, df2, how='outer'))
print(pd.merge(df1, df2, how='right'))
print(pd.merge(df1, df2, how='left'))

   name   food  drink
0  Mary  bread  water
    name   food  drink
0  Peter   fish    NaN
1   Paul  beans    NaN
2   Mary  bread  water
3   Anna    NaN   wine
   name   food  drink
0  Mary  bread  water
1  Anna    NaN   wine
    name   food  drink
0  Peter   fish    NaN
1   Paul  beans    NaN
2   Mary  bread  water

In [75]:
df1 = pd.DataFrame({'name': ["Peter", 'Paul', 'Mary'],
                    'rank': [1, 2, 3]})
df2 = pd.DataFrame({'name': ["Peter", 'Paul', 'Mary'],
                    'rank': [3, 2, 1]})
pd.merge(df1, df2, on='name') # без on останется одна строка: Paul
df3 = pd.DataFrame({'name': ["Peter", 'Paul', 'Mary'],
                    'rank': [4, 5, 6]})
pd.merge(df3, pd.merge(df1, df2, on='name', suffixes=['__aee', '__eey']), on='name')

    name  rank  rank__aee  rank__eey
0  Peter     4          1          3
1   Paul     5          2          2
2   Mary     6          3          1

In [76]:
"""import requests # скачиваем файлы по ссылке из гитхаба и сохраняем в папке проекта
abbr = 'https://github.com/jakevdp/data-USstates/blob/master/state-abbrevs.csv'
areas = 'https://github.com/jakevdp/data-USstates/blob/master/state-areas.csv'
popul = 'https://github.com/jakevdp/data-USstates/blob/master/state-population.csv'
response = [requests.get(abbr), requests.get(areas), requests.get(popul)]
files = ['state-abbrevs.csv', 'state-areas.csv', 'state-population.csv']
for i in response:        
    for j in files:
        with open(j, 'wb') as f:
            f.write(i.content)"""

# работает плохо, не получается нормально прочитать csv файл, если вручную скачать, то все хорошо

"""Этот код сначала импортирует библиотеку requests, которая позволяет получать содержимое файлов по ссылке. Затем он определяет
 три ссылки на файлы, которые нужно скачать, и сохраняет их в переменные abbr, areas и popul. 
Далее создается список response, который содержит ответы сервера на запросы по ссылкам, используя 
функцию requests.get(). Затем создается список files, содержащий имена файлов, в которые нужно сохранить содержимое.
Затем запускается цикл for, который проходит по каждому элементу списка response. Внутри этого цикла 
запускается вложенный цикл for, который проходит по каждому элементу списка files. Внутри вложенного цикла 
открывается файл с именем из списка files для записи в режиме бинарной записи ('wb').
 В этот файл записывается содержимое файла, полученного по соответствующей ссылке из списка response, с помощью метода content. 
Таким образом, в результате выполнения этого кода в папке проекта будут созданы три файла с именами
 'state-abbrevs.csv', 'state-areas.csv' и 'state-population.csv', содержащие данные из файлов, доступных по ссылкам abbr, areas и popul."""

"Этот код сначала импортирует библиотеку requests, которая позволяет получать содержимое файлов по ссылке. Затем он определяет\n три ссылки на файлы, которые нужно скачать, и сохраняет их в переменные abbr, areas и popul. \nДалее создается список response, который содержит ответы сервера на запросы по ссылкам, используя \nфункцию requests.get(). Затем создается список files, содержащий имена файлов, в которые нужно сохранить содержимое.\nЗатем запускается цикл for, который проходит по каждому элементу списка response. Внутри этого цикла \nзапускается вложенный цикл for, который проходит по каждому элементу списка files. Внутри вложенного цикла \nоткрывается файл с именем из списка files для записи в режиме бинарной записи ('wb').\n В этот файл записывается содержимое файла, полученного по соответствующей ссылке из списка response, с помощью метода content. \nТаким образом, в результате выполнения этого кода в папке проекта будут созданы три файла с именами\n 'state-abbrevs.csv', 'state-areas.csv' и 'state-population.csv', содержащие данные из файлов, доступных по ссылкам abbr, areas и popul."

In [77]:
abbr = pd.read_csv('state-abbrevs.csv')
areas = pd.read_csv('state-areas.csv')
popul = pd.read_csv('state-population.csv')
print(abbr.head(), abbr.info())
print(areas.head(), areas.info())
print(popul.head(), popul.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         51 non-null     object
 1   abbreviation  51 non-null     object
dtypes: object(2)
memory usage: 944.0+ bytes
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          52 non-null     object
 1   area (sq. mi)  52 non-null     int64
dtypes: int64(1), object(1)
memory usage: 960.0+ bytes
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state/region  2544 non-null   object
 1   ages          2544 non-null   object
 2   year          2544 non-null   int64
 3   population    2524 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 79.6+ KB
  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0 None

In [107]:
merged = pd.merge(popul, abbr, how='outer', left_on='state/region', right_on='abbreviation')
#  мержим бд на основе столбцов 'state/region' и 'abbreviation', left_on='state/region' in popul
merged = merged.drop(columns='abbreviation') # удаляем дублирующуюся информацию
merged.isnull().any() # merged.isnull() - матрица булевых масок, метод .any() показывает нахождение Nan значения в столбце
merged[merged['population'].isnull()].head(100) # посмотрим какая именно информация отсутствует в столбце population
merged.loc[merged['state'].isnull(), 'state/region'].unique() # посмотрим уникальные значения для пропущенных в столбце 'state'
merged.loc[merged['population'].isnull(), 'state/region'].unique() # --//-- в столбце 'population'
merged.loc[merged['state/region'] == 'PR', 'state'] = 'Puerto Rico' # добавляем записи в столбец с полным названием штатов по аббревиатуре
merged.loc[merged['state/region'] == 'USA', 'state'] = 'United states' 
merged.isnull().any() # проверка, больше нет пустых значений в столбце 'state'
final = pd.merge(merged, areas, on='state', how='left')
#final = pd.merge(merged, areas, how='outer', left_on='state', right_on='state') # можно и так тоже
final
final.isnull().any()
final['state'][final['area (sq. mi)'].isnull()].unique() # смотрим какие территории не имеют информации о площади
final.dropna(inplace=True) # inplace=True указывает на то что изменения должны быть внесены в исходный обЪект без создания нового
final
data2010 = final.query("year == 2010 & ages == 'total'")
data2010.head()
data2010.set_index('state', inplace=True)
data2010
density = data2010['population'] / data2010['area (sq. mi)']
density.sort_values(ascending=False, inplace=True) # (с англ. восходящий) ascending=False это значит что сортировку нужно выполнять в порядке убывания
density.head() # начало списка
density.tail() # конец списка

state
South Dakota    10.583512
North Dakota     9.537565
Montana          6.736171
Wyoming          5.768079
Alaska           1.087509
dtype: float64